.form {
  padding: 2rem;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.control input,
.control textarea {
  /* display: block; */
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1rem;
  outline: none;
}

.control input:focus,
.control textarea:focus {
  box-shadow: 0 0 5px tomato;
  border: 1px solid tomato;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.actions button {
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  border: 2px solid tomato;
  background-color: white;
  color: tomato;
  font-weight: bold;
}

.actions button:hover {
  border: 2px solid white;
  color: white;
  background-color: tomato;
  box-shadow: 2px 2px 10px tomato;
}
